@import "reset";
@import "config/variable";
@import "modules/messages";
@import "modules/user";
@import "font-awesome-sprockets";
@import "font-awesome";

.wrapper {
}

.side-bar {
  width: 300px;
  color: white;
  float: left;

  /*ユーザー名・アイコンを表示*/
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .box {
      width: 100%;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      .name {
        line-height: 20px;
      }
      .logo {
        width: 60px;
        line-height: 20px;
        text-align: right;
        .new-group-btn {
          color: white;
          text-decoration: none;
        }
        .edit-user-btn {
          color: white;
          margin-left: 5px;
          text-decoration: none;
        }
      }
    }
  }

  /*グループ名と最新メッセージをリストで表示*/
  &__group-list {
    height: calc(100vh - 100px);
    .group-box {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;
      .groups {
        height: 91px;
        overflow: scroll;
        .link {
          text-decoration: none;
          .group {
            color: white;
            &__name{
              font-size: 15px;
              margin-bottom: 5px;
            }
            &__message {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  float: right;

  /*グループ名とメンバー、Editボタンを表示*/
  &__group-info {
    height: 100px;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    .infomation {
      margin-top: 35px;
      .group-name {
        color: #333333;
        font-size: 20px;
      }
      .member {
        margin-top: 15px;
        color: #999999;
        font-size: 12px;
      }
      .edit-group {
        position: absolute;
        top: 28px;
        right: 40px;
        &__btn {
          height: 40px;
          width: 72px;
          line-height: 40px;
          color: $btnColor;
          font-size: 16px;
          border: 1px solid $btnColor;
          text-decoration: none;
          padding: 12px 20px;
          cursor: pointer;
        }
      }
    }
  }

  /*メッセージの一覧を表示*/
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 191px);
    padding: 35px 40px;
    .message {
      padding-bottom: 46px;
      overflow: scroll;
      &__info {
        display: flex;
        margin-bottom: 10px;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__time {
          color: #999999;
          font-size: 12px;
          margin-left: 5px;
        }
      }
      &__text {
        color: #434A54;
        font-size: 14px;
      }
    }
  }

  /*メッセージフォームを表示*/
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .new-message {
      display: flex;
      .input-box {
        width: 100vw;
        display: flex;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        background-color: $btnColor;
        color: white;
        height: 50px;
        width: 100px;
        padding: 0 30px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}